__pycache__/
.idea/
src/gui/icons
crops/
*.jpg
*.png
*.json
*.pt
*.pth
*.csv
*.zip
*.log
/docs
src/images/train/dataset_100/
src/images/test/
src/keypoints_detector/runs/
!images/keypoint_rcnn_detection.jpg
!src/gui/icons.zip
