__pycache__/
.idea/
src/keypoints_detector/datasets/
venv
src/gui/icons
crops/
*.jpg
*.png
*.json
*.pt
*.pth
*.csv
*.zip
*.log
src/keypoints_detector/runs/
src/keypoints_detector/.ipynb_checkpoints
src/gui/fugue-icons-3.5.6
!images/keypoint_rcnn_detection.jpg
!src/gui/icons.zip
!*.dvc
