__pycache__/
.idea/
src/keypoints_detector/datasets/
venv
src/gui/icons
crops/
*.jpg
*.png
*.json
*.pt
*.pth
*.csv
*.zip
*.log
src/keypoints_detector/kpt_rcnn/runs/
src/keypoints_detector/yolo/runs
src/build_options
**/.ipynb_checkpoints/
src/gui/fugue-icons-3.5.6
src/build
!images/*
!src/gui/icons.zip
!*.dvc
