### general
--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.12.1+cu113
--extra-index-url https://download.pytorch.org/whl/cu113
torchvision==0.13.1+cu113
matplotlib==3.6.3
numpy==1.24.1
opencv-python==4.6.0.66
pandas==1.4.2
PyYAML==6.0
scikit-image==0.18.3
scipy==1.10.0
ujson==4.2.0
ultralytics==8.0.203
easyocr==1.4.1
fpdf2==2.7.6

### training
git+https://github.com/albumentations-team/albumentations.git
pycocotools==2.0.7
ray[tune]==2.1.0
torchmetrics==0.10.0
tensorboard==2.10.1

dvc==3.28.0
dvc-gdrive==2.20.0

### gui
pyqt5==5.14.1
PyQtWebEngine==5.14.0

### executable
cx-Freeze==6.15.10
