albumentations==1.3.0
opencv-python-headless==4.4.0.42
scipy==1.7.2
numpy==1.20.3
Pillow==9.3.0
scikit-image==0.18.3
PyYAML==6.0
easyocr==1.4.1
pycocotools==2.0.4
pandas==1.4.2
ujson==4.2.0
ray==2.1.0
PyQt5==5.15.6
torchmetrics==0.10.0